.select-input {
  -webkit-appearance: none;
  width: 324px;
  height: 39px;
  border: 2px solid grey;
  padding: 0 10px;
  cursor: pointer;
}

.select-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.select-label {
  margin-bottom: 10px;
}

.select-box-error {
  border: 2px solid red;
}

.select-input:focus-visible {
  border-color: black;
  outline: none;
}

.select-error-message {
  margin: 5px 0;
  /* color: red; */
}
