.button,
.link-as-button {
  display: block;
  padding: 15px 50px;
  margin-top: 30px;
  border: none;
  background-color: #00518F;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.button:hover {
  background-color: grey;
}

