/* .form-checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-checkbox {
  width: fit-content;
}

.form-checkbox-label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
}

.form-privacy-label-link {
  margin-left: 4px;
} */
