/* .form-checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-checkbox {
  width: fit-content;
}

.form-checkbox-label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
}

.form-privacy-label-link {
  margin-left: 4px;
} */

.form-checkbox-container {
  display: flex;
  line-height: 19px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-checkbox-input {
  height: 20px;
  width: 20px;
  margin: 0;
  cursor: pointer;
}

.form-checkbox-label {
  margin-left: 10px;
  cursor: pointer;
}

.form-checkbox-input-error {
  outline: 2px solid red;
}