.input-wrapper {
  display: flex;
}

.input-container:first-of-type {
  margin-right: 50px
}

.input-box {
  -webkit-appearance: none;
  width: 300px;
  height: 35px;
  border: 2px solid grey;
  padding: 0 10px;
}

.input-box:focus-visible {
  border-color: black;
  outline: none;
}

.input-label {
  display: flex;
  margin-bottom: 10px;
}

.input-box-error {
  border: 2px solid red;
}

.input-error-message {
  margin: 5px 0;
}